// _footer.scss
footer {
  padding: 1.5rem;
  margin-top: 2rem;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

footer p {
  margin: 1rem 0rem 0rem 0rem;
}

.footer-logo {
  height: 1.5rem;
}
