// _product.scss
$primary-gap: 10px;
$primary-radius: 1.5rem;
$host-picture-size: 5rem;
$host-picture-size-small: 3rem;
$product-picture-height: 30rem;
$rating-star-size: 25px;
$button-transform: translateY(-50%);
$mobile-max-width: 425px;

.product-container, .product-pictures {
  position: relative;
  width: 100%;
}

.product-picture {
  width: 100%;
  height: $product-picture-height;
  object-fit: cover;
  border-radius: $primary-radius;
}

.slide-button {
  position: absolute;
  top: 50%;
  transform: $button-transform;
  background: transparent;
  border: none;

  &.slide-left {
    left: $primary-gap;
    transform: rotate(180deg) translateY(53%);
  }

  &.slide-right {
    right: $primary-gap;
  }

  img {
    @media (max-width: $mobile-max-width) {
      height: 30px;
    }
  }
}

.slider-indicator {
  position: absolute;
  bottom: $primary-gap;
  color: white;
  padding-bottom: $primary-gap;
  width: 100%;
  text-align: center;
}

.product-title,
.product-location,
.host-name {
  color: $primary-color;
}

.product-title {
  margin-top: 0;
  margin-bottom: 0;
}

.product-location {
  margin: $primary-gap $primary-gap 0 0;
}

.host-rating-tags-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 0.6rem;

  @media (max-width: $mobile-max-width) {
    flex-direction: column-reverse;
  }
}

.host-rating,
.tags-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

  @media (max-width: $mobile-max-width) {
    gap: 15px;
  }
}

.host-rating {
  @media (max-width: $mobile-max-width) {
    margin-top: 0.6rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.host-info {
  display: flex;
  align-items: center;
  max-width: 10rem;
  text-align: right;
  gap: $primary-gap;
}

.host-picture {
  width: $host-picture-size;
  border-radius: 100%;

  @media (max-width: $mobile-max-width) {
    width: $host-picture-size-small;
  }
}

.product-equipments {
  list-style-type: none;
  padding-left: 0;
}

.product-description-equipements {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 0.6rem;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    gap: 0;
  }
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: $primary-gap;
}

.product-tag {
  color: #ffffff;
  background-color: $primary-color;
  padding: 0.2rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}

.product-rating {
  display: flex;
  gap: $primary-gap;

  @media (max-width: $mobile-max-width) {
    gap: 5px;
  }
}

.rating-stars {
  object-fit: contain;
  width: $rating-star-size;
  height: $rating-star-size;
}
