// _cards.scss
$border-radius: 1.5rem;
$grid-gap: 2rem;
$padding-large: 3rem;
$padding-small: 1rem;
$card-height: 300px;
$card-image-height: 20rem;
$overlay-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 212, 255, 0) 50%);
$text-color-light: #ffffff;

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $grid-gap;
  background-color: $secondary-color;
  padding: $padding-large;
  border-radius: $border-radius;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 425px) {
    padding: $padding-large $padding-small;
  }
}

.card-container {
  position: relative;
  height: $card-height;
  border-radius: $border-radius;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background: $overlay-gradient;
  }

  .card-image {
    width: 100%;
    height: $card-image-height;
    object-fit: cover;
  }

  .card-title {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    color: $text-color-light;
    margin: 0;
    text-align: left;
    z-index: 1;
  }
}
