// _collapse.scss
$border-radius-small: 0.5rem;
$padding-small: 10px;
$transition-duration: 0.3s;
$z-index-low: -1;
$max-height-open: 500px;

.collapse-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 425px) {
    width: 100%;
  }
}

.collapse-title {
  position: relative;
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius-small;
  color: #ffffff;
  cursor: pointer;
  padding: $padding-small;
  text-align: left;
  width: 100%;

  .collapse-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform $transition-duration ease;

    &--open {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.collapse-content {
  background-color: $secondary-color;
  color: $primary-color;
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition-duration ease;
  padding: $padding-small 0 0 $padding-small;
  border-radius: 0 0 $border-radius-small $border-radius-small;
  position: relative;
  bottom: $padding-small;
  z-index: $z-index-low;

  &--open {
    max-height: $max-height-open;
  }
}
